.slot-panel {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0;
  left: 0;
  background-color: #f0f0f077;
  touch-action: none;
}

@mixin circle {
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.marker {
  @include circle;

  cursor: pointer;
  background-color: rgb(211 211 211 / 50%);

  &.active {
    background-color: rgb(55 175 218 / 50%);
  }

  * {
    pointer-events: none;
    user-select: none;
  }

  display: grid;
  place-items: center center;
  font-family: sans-serif;
}

.slot {
  @include circle;

  border: solid 3px #aaa;
  background-color: #eee;
  box-sizing: content-box;

  &.active {
    border-color: #37afda;
    background-color: #a1d7ea;
  }

  * {
    pointer-events: none;
    user-select: none;
  }

  display: grid;
  place-items: center center;
  font-family: sans-serif;
  font-size: x-small;
  text-align: center;
}
