@import 'bootstrap/scss/bootstrap';

:root {
  --app-width: 3840; // overwritten by JS
  --app-height: 2160; // overwritten by JS
  --svg-width: 3840;
  --svg-height: 2160;
  --svg-scale-factor: calc(var(--app-height) / var(--svg-height));
}

html,
body {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}

#fixed-size-container {
  // The actual size is defined via code
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

#top-level-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  & > #illustration-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
  }

  & > #viz-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    & > #model-viz-container {
      width: calc(1px * var(--svg-width));
      transform: scale(var(--svg-scale-factor));
      transform-origin: top left;
    }

    & > .score {
      font-size: 64px;
      position: absolute;
      padding: 0.5ex;
    }

    & > #circularity-index-container {
      top: 0;
      left: 0;
    }

    & > #user-satisfaction-container {
      bottom: 0;
      right: 0;
    }
  }

  & > #control-panel {
    // this node is designed for 1920x1080 and than scaled up 2x
    position: absolute;
    top: 0;
    right: 0;
    width: calc(1px * var(--app-width) / 4);
    height: 50%;
    box-sizing: border-box;
    border-left: solid 1px;
    background-color: white;
    transform-origin: top right;
    transform: scale(2);

    & nav {
      padding-top: 1ex;

      & button[disabled] {
        text-decoration: line-through;
      }
    }

    & .tab-pane {
      padding: 1em;
    }

    & #parameter-transforms {
      display: flex;
      gap: 2em;

      & *:nth-child(1),
      & *:nth-child(2) {
        flex-grow: 0;
      }

      & *:last-child {
        flex-grow: 3;

        & input[type='text'],
        & textarea {
          width: 100%;
        }
      }

      & .active,
      & .available {
        overflow: scroll;
        max-height: 900px;

        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
          display: none;
        }

        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        min-width: 100px;
        max-width: 200px;
        min-height: 20px;
        border: solid 1px;

        & > div {
          border: solid 1px;
          margin: -1px;
          padding: 0.2ex;
        }
      }
    }
  }
}

input[type='range'] {
  width: 100%;
}

.hidden {
  display: none;
}
