@import 'bootstrap/scss/bootstrap';

:root {
  --viz-panel-height: 1080;
  --svg-width: 512;
  --svg-height: 600;
  --svg-scale-factor: calc(var(--viz-panel-height) / var(--svg-height));
}

html,
body {
  position: absolute;
  width: 1920px;
  height: 1080px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;
}

#top-level-container {
  display: flex;

  & > #viz-panel {
    z-index: -1;
    flex: 0 0 calc(1px * var(--svg-scale-factor) * var(--svg-width));
    height: calc(1px * var(--viz-panel-height));

    & > #model-viz-container {
      width: calc(1px * var(--svg-width));
      transform: scale(var(--svg-scale-factor));
      transform-origin: top left;
    }

    & > #indices {
      position: absolute;
      width: calc(1px * var(--svg-scale-factor) * var(--svg-width));
      bottom: 0;
      left: 0;
      font-size: xx-large;
      padding: 1ex;
      text-align: center;
    }
  }

  & > #control-panel {
    flex-grow: 1;
    border-left: solid 1px;

    & nav {
      padding-top: 1ex;

      & button[disabled] {
        text-decoration: line-through;
      }
    }

    & .tab-pane {
      padding: 1em;
    }

    & #parameter-transforms {
      display: flex;
      gap: 2em;

      & *:nth-child(1),
      & *:nth-child(2) {
        flex-grow: 0;
      }

      & *:last-child {
        flex-grow: 3;

        & input[type='text'],
        & textarea {
          width: 100%;
        }
      }

      & .active,
      & .available {
        overflow: scroll;
        max-height: 900px;

        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
          display: none;
        }

        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        min-width: 100px;
        max-width: 200px;
        min-height: 20px;
        border: solid 1px;

        & > div {
          border: solid 1px;
          margin: -1px;
          padding: 0.2ex;
        }
      }
    }
  }
}

input[type='range'] {
  width: 100%;
}
