svg.model-visualization {
  overflow: visible;

  .stock {
    stroke: none;

    &.capacity {
      fill: gray;
    }

    &.supply {
      stroke: none;
      fill: lightgray;
    }
  }

  #phones-in-use,
  #supply-of-hibernating-phones,
  #supply-of-broken-phones,
  #supply-of-disposed-phones {
    fill: lightgray;
  }

  #natural-resources,
  #landfilled-phones {
    stroke: none;
    fill: gray;
  }

  .flow {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #aaa;
    fill: none;

    &#recycle-flow,
    &#recycle-edge,
    &#produce-from-recycled-materials-flow,
    &#produce-from-recycled-materials-edge,
    &#repair-flow,
    &#repair-edge,
    &#acquire-repaired-flow,
    &#acquire-repaired-edge,
    &#refurbish-flow,
    &#refurbish-edge,
    &#acquire-refurbished-flow,
    &#acquire-refurbished-edge,
    &#acquire-used-flow,
    &#acquire-used-edge {
      stroke: yellowgreen;
    }

    &.edge {
      stroke-width: 10;
    }

    &.anim-edge {
      stroke-width: 20;
    }
  }

  foreignObject {
    overflow: visible;
  }

  .label {
    font-size: 14px;
    font-family: sans-serif;
    text-align: center;
    text-anchor: middle;
    transform: translate(-50%, -50%) translateY(-7px);
  }
}
