svg.model-visualization {
  overflow: visible;

  .stock,
  #phones-in-use {
    stroke: none;
    opacity: 0.75;

    &.capacity {
      fill: gray;
    }

    &.supply {
      stroke: none;
      fill: lightgray;
    }
  }

  #phones-in-use,
  #supply-of-hibernating-phones,
  #supply-of-broken-phones,
  #supply-of-disposed-phones {
    fill: lightgray;
  }

  #natural-resources,
  #landfilled-phones {
    stroke: none;
    fill: none;
  }

  .flow {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #bbb;
    fill: none;

    &.edge {
      stroke-width: 8;
      display: none;
    }

    &.anim-edge {
      stroke-width: 15;
      stroke-dasharray: 10 27;
      --max-dashoffset-step: 15; // string must be parseable by parseFloat()
    }

    &#recycle-flow,
    &#recycle-edge,
    &#produce-from-recycled-materials-flow,
    &#produce-from-recycled-materials-edge,
    &#repair-flow,
    &#repair-edge,
    &#acquire-repaired-flow,
    &#acquire-repaired-edge,
    &#refurbish-flow,
    &#refurbish-edge,
    &#acquire-refurbished-flow,
    &#acquire-refurbished-edge,
    &#acquire-used-flow,
    &#acquire-used-edge {
      stroke: gray;

      &.anim-edge {
        stroke-dasharray: 0 27;
        --max-dashoffset-step: 12.5; // string must be parseable by parseFloat()
      }
    }
  }

  foreignObject {
    overflow: visible;
  }

  .label {
    font-size: 48px;
    font-family: sans-serif;
    text-align: center;
    text-anchor: middle;
    transform: translate(-50%, -50%) translateY(-7px);
  }
}
